{% extends 'base.html' %}
{% load static %} 
{% block title %}Django Delights{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <div>
        <h2>Menu</h2>
        <a href="{% url 'create_menu' %}"><button class="create-button">ADD NEW MENU</button></a>
        
        <table class="inventory-table">
            <thead>
                <tr>
                    <th>Menu Item</th>
                    <th>Unit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td> {{ item.price }} €</td>
                    <td><a href="{% url "delete_menu" item.id %}"><button class="del-button">Delete</button></a></td>
                    <td><a href="{% url "update_menu" item.id %}"><button class="update-button">Update</button></a></td>
                </tr>
                {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}


