{% extends 'base.html' %}
{% load static %}
{% block title %}Django Delights{% endblock %}
{% block content %}
  <div>
    <h2>Menu Items</h2>
    <a href="{% url "create_purchase" %}"><button class="create-button">ADD PURCHASE</button></a>
    <table class="inventory-table">
      <thead>
        <tr>
          <th>Menu Item</th>
          <th>Price</th>
          <th>Timestamp</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for purchase in object_list %}
        <tr>
          <td>
            <a href="">{{ purchase.menu_item.name }}</a>
          </td>
          <td> ${{ purchase.menu_item.price }}</td>
          <td> {{ purchase.timestamp }}</td>
          <td><a href="{% url "delete_purchase" purchase.id %}"><button class="del-button">Delete</button></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}