{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
  {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Django Delights</title>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <a href="{% url 'home' %}"  class="nav-logo">Home</a>
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="{% url 'ingredients' %}" class="nav-link">Ingredients</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'menu' %}" class="nav-link">Menu</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'purchase' %}" class="nav-link">Purchase</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'recipe' %}" class="nav-link">Recipes</a>
          </li>
  
              </ul>
              <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
            </nav>
            <script src="{% static 'functions.js' %}"></script>
          </header>
          {% block content %}
          
          {% endblock %}
        </body>
        </html>