@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100&display=swap');

html {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: bold;
}

nav {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
.navbar a.nav-logo {
    background-color: #04AA6D;
    color: white;
  }
.navbar a.nav-logout {
    background-color: #905aa8;
    color: white;
  }
.navbar a.nav-link {
    justify-content: flex-end;
  }

.del-button {
    background-color: #333;
    color: #ddd;
    font-family: 'Sofia Sans', sans-serif;
    border-radius: 10px;
    transition: 1s;
    font-size: 110%;
    font-weight: bolder;
}

.update-button {
    background-color: rgb(7, 14, 72);
    color: #ddd;
    font-family: 'Sofia Sans', sans-serif;
    border-radius: 10px;
    transition: 1s;
    font-size: 110%;
    font-weight: bolder;
}
.del-button:hover {
    background-color: red;
}

.update-button:hover {
  background-color: rgb(190, 198, 76);
  color: black;
}

.create-button {
    background-color: rgb(175, 179, 160);
    color: black;
    font-family: 'Sofia Sans', sans-serif;
    border-radius: 10px;
    transition: 1s;
    font-size: 110%;
    font-weight: bolder;
}
.create-button:hover {
    background-color: rgb(46, 42, 42);
    color: white;
}

.popup-delete {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  background: #f1f1f1;
}

.inventory-table {
  background-color: bisque;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
}